

/* .topper{
    
    border: 3px solid rgb(134, 10, 10);
} */


body{
    margin: 0;
    padding: 0;
}
.Top1{
display: inline-block;
background-color: #FFFFFF;
/* border: 1px solid rgb(78, 78, 78); */
/* width: 100%; */
height: 100px;
padding: 0px;
font-size: 38px;
font-family: 'Libre Franklin', sans-serif;

}


.topper{
    /* width: 90%;
    height: 100%; */
    margin: 0;
    padding:0;

}

/* @media screen and(max-width:300px){
    .flex{
      text-align: center;
    }
} */
.Top2{
display: inline;
background-color: #FFFFFF;
margin: 0;
position: absolute;
top:35px ;
left:90px ;
z-index: 2;
color:#424242;
font-weight: 850;
}


.Top3{
    display: inline;
    margin: 0;
    position: absolute;
    background-color: #FFFFFF;
    top:35px ;
    left:215px ;
    z-index: 2;
    color: #00A5EC;
    font-weight: 850;
    }

.flex{
    width: 100%;
    margin: 0;
    border: 0.5px rgb(252, 249, 249);
    background-color:#EDEDED ;
     /* padding: 5px; */
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
    flex-direction: row;
    font-family: 'Libre Franklin', sans-serif;
}


    

    .icon12{
        /* justify-content: center; */
        text-align: end;
    }

 @media screen and (max-width:400px){
    .icon12{
        /* justify-items:center; */
        text-align: center;
    }
    .flex{
        width: 100%;
        margin: 0;
        border: 0.5px rgb(252, 249, 249);
        background-color:#EDEDED ;
         /* padding: 5px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Libre Franklin', sans-serif;
    } 
    .Addbutton{
        display: none;
    }
} 
    

 

.Table1{
    width: 360px;
    height: 400px;
    border-radius: 8px;
    background-color:#FFFFFF;
    border: 1px solid rgb(227, 225, 225);
    margin: 7px;
    padding-left: 18px;
    
} 

.Table1:hover{
    box-shadow:3px 4px 6px 5px rgb(192, 185, 185);
    color: #FFFFFF;
}

.Head1{
font-size: 20px;
display: inline-block;
color: #00A5EC;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 550;
padding-top: 5px;
margin: 30px;

}


.Box1{
text-decoration: line-through;
display: inline;
color: #C2C2C2;
}



.Box2{
display:inline ;
font-size: 18px;
font-weight: 1000px;
color:#424242;
}

.hr1{
    
    width: 260px;
    position: relative;
    left: -19px;
    
}

/* .button{
    background-color: #00A5EC;
    width: 150px;
    display: inline;
} */

/* .plus{
    background-color: #00A5EC;
    border: none;
    border-radius: 50%;
    


} */

.button{
    border: none;
    color:white;
    background-color: #00A5EC;
    padding: 7px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 50%;
    /* position: absolute;
    top: 135px;
    left: 1150px;
    z-index: 1; */
}

.Addbutton{
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    color:#424242;
    background-color: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin: 4px 2px;
    /* position: absolute;
    top: 145px;
    left: 1200px;
    z-index: 1;  */
}


    

.Box11[type="checkbox"]{
font-size: 85px;
background-color: #C2C2C2;
color:black;
width: 15px;
height: 15px;
transform: scale(2);



}

.tb1{
    display: inline-block;
    text-decoration: none;
}
 .Box11:checked{
    background-color: #C2C2C2;
} 


/* .Box11[type="checkbox"]{
    accent-color: grey;
} */

.Box12{
    font-size: 85px;
    transform: scale(2);
    background-color: #EDEDED;
    
}

.foot{
    position: absolute;
    left: 0px;
    border: 1px solid rgb(198, 90, 90);
    background-color:#F7F7F7;
    border-radius: 10px;
    width: 390px;
    height: 240px;
    z-index: 2;
    /* position: absolute;
    top: 190px;
    left: 510px; */

}

@media screen and(max-width:400px){
    .foot{
        position: absolute;
        left: 0px;
        border-radius: 10px;
    
    


        background-color: white;
        border: 2px solid black;
        width: 50px;
        height: 50px;
        z-index: 2;
        text-align: center;
    }
    
}

.h22222{
  width: 100%;
  height: 100px;  
  background-color: #424242;
}

 #Add{
float: left;
display: inline;
color: rgb(43, 41, 41);
font-size: 20px;
text-decoration: none;
z-index: 2;
 }



 #cross{
position: relative;
text-decoration: none;
color: #424242;
font-size: 25px;
left: 140px;
bottom: 1px;
z-index: 2;

 }

#learn{
    /* position:relative;  */
    display: inline-block;
    border: 1px solid rgb(234, 224, 224);
    color: gray;
    width: 340px;
    height: 36px;
    background-color: #f9f3f3;
    left: 32px   ;
    bottom: 35px;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 600; 
    font-size: 20px  ; 
    z-index: 2;                                                                                                                                                                                                                                                                                                                                       ;
}


#button{
    position: relative;
    left: 225px;
    bottom: 20px;
    text-align: center;

}

.vk{
    font-size: 15px;
    font-weight: 600;
    background-color: #00A5EC;
    border: 2px solid  #00A5EC;
    border-radius: 6px;
    color: whitesmoke;
    width: 170px;
    height: 42px;
    z-index: 2;
}

.index2{
    background-color:rgb(239, 234, 234);
    filter:brightness(25%);
    
}

.in2{
    text-decoration: none;
    display: inline-block;
}


.page3{
    position: absolute;
    right: 550px;
    width: 420px;
    height: 400px;
    border-radius: 8px;
    background-color:#FFFFFF;
    /* border: 1px solid rgb(227, 225, 225); */
    padding: 18px;
}


.page2{
    background-color: #3a3939;
    
}





/* index3.html */

.index3top{
    text-align: center;
    font-size: 24px;

}

.index3mid{
    margin-left: 30px;
    line-height: 30px;
    

}

.index3button{
    position: relative;
    right: 380px;
    top: -120px;

}

.shadow{
    box-shadow: 2px 2px 4px 4px rgb(125, 123, 123);
}

.Arrow {
position: relative;
display: inline-block;
top: -299px;
left: -10px;

}

.Arrow1{
border-radius: 50%;
height: 32px;
width: 32px;
background-color:black;
color: white;
}

.Arrow2{
font-size: 20px;
font-weight: 700;
}

.flex1{
    background-color: #67676729;
    height: 400px;
}













 /* .index4{ */
    /* filter:brightness(60%); */
    /* background-color:rgb(241, 238, 238);
    border: 2px solid red;
    height: 800px;
}

/* .bdy4{ */
    /* background-color: #3d3c3c;
}  */ 



/* body{
    filter:brightness(50%);
    background-color: rgb(71, 68, 68);
} */



/* index4.html */

.last1{
    border: 2px solid black;
    border-radius: 8px;
    color:black;
    background-color: white;
    height: 245px;
    width: 453px;
    position: absolute;
    left: 506px;
    top: 181px;
    z-index: 1;
}

.html4{
    
    background-color:#ede2e229 ;
}

.shadow1{
    background-color:#C2C2C2;
    /* border: 0.5px solid #67676729; */
}

.h123{
    /* filter:brightness(50%); */
    filter: opacity(100%);
    background-color:#0b01015d;

}

.fan1{
    position: relative;
    border: 1px solid rgb(238, 233, 233);
    display: inline-block;
    width: 440px;
    height: 52px;
    margin: 0;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 25px;

    
}

.last2{
    background-color: #00A5EC;
    border-radius: 3px;
    width: 140px;
    height: 32px;
    padding: 8px;
    font-size: 15px;
    color: white;
    position: relative;
    left: 280px;
    top: 70px;
}

.last3{
    position: absolute;
    left: 425px;
    top: 2px; 

}

.last4{
    position: relative;
    left: 29px;
    top: 28px;
    color: rgb(191, 186, 186);
    font-size: 17px;

}

.last5{
    position: absolute;
    background-color: #00A5EC;
    display: inline-block;
    border-radius: 2px;
    left: 545px;
    color: white;
    font-size: 15px;
    width: 140px;
    padding: 11px;
    left: 300px;
    bottom: 30px;
}

.ab444{
    width: 100%;
}

@media screen and(max-width:400px){
    .ab444{
        width: 120px;
    }
    
}
/* .hr3{
    width: -200px;
} */


/* index-4/page-4 */
.in3{
    /* position: absolute;
    right: 550px; */
    position: absolute;
    left: 12px;
    width: 320px;
    height: 400px;
    border-radius: 8px;
    background-color:#FFFFFF;
    /* border: 1px solid rgb(227, 225, 225); */
    padding: 18px; 
}


@media screen and (max-width:500px){
    .in3{
        position: absolute;
        left: 35px;
        width: 250px;
        height: 300px;
        top: 88px;
        border-radius: 8px;
        background-color:#FFFFFF;
        text-align: center;
        justify-content: center;
        /* border: 1px solid rgb(227, 225, 225); */

        
    }

    .flex-3{
        width: 412px;
    }
    
    @media screen and (max-width:600px){
        .in3{
            position: absolute;
            left: 35px;
            width: 200px;
            height: 300px;
            top: 108px;
            border-radius: 8px;
            background-color:#FFFFFF;
            text-align: center;
            justify-content: center;
            /* border: 1px solid rgb(227, 225, 225); */
            
        }
}
.flex-3{
    position: absolute;
    top: 120px;
    height:800px;
    text-align: center;
    align-items: center;
}

.ar3{
    position: relative;
display: inline-block;
top: -299px;
left: -10px;

}

@media screen and(max-width:500px){
    .ar3{
        position: relative;
        display: inline-block;
        top: -299px;
        left: -87px;
        text-align: center;
        justify-content: center;
}

.flex-3{
    display: flex;
    flex-direction: column;
    top: 120px;
    height:800px;
    left:500px ;
    text-align: center;
    align-items: end;
    justify-content: center;
}

}






/* Media Queary */
/* Media Queary */
/* Media Queary */
/* Media Queary */









 



